@import './assets/css/common.scss';

body {
  margin: 0;
  //font-family: 'Open Sans Condensed', sans-serif;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3cdc1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
